<div class="uk-margin-medium">
  <div class="uk-container uk-container-expand">
		<div class="uk-grid uk-flex-center uk-child-width-1-3 uk-text-center" data-uk-grid>
			{% for item in site.data.protocols %}
      	<div class="">
      		{% if item.image %}
            {% if item.image contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.uploads | absolute_url %}
            {% endif %}
            <img class="uk-image--small" src="{{ domain }}{{ item.image }}" alt="{{ item.name }}">
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>