<div class="uk-margin-medium">
  <div class="uk-container uk-container-expand">
		<div class="uk-grid uk-flex-center uk-child-width-1-4 uk-child-width-1-6@s uk-text-center" data-uk-grid>
			{% for item in site.data.tokens %}
      	<div class="uk-token">
      		{% if item.image %}
            {% if item.image contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.uploads | absolute_url %}
            {% endif %}
            <img class="" src="{{ domain }}{{ item.image }}" alt="{{ item.name }}">
          {% endif %}
          <br>
          <p class="uk-margin-small-top">{{ item.token }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>